<div class='row'>
  <div class='profile col-md-6'>
    <div class='inner-edit'>
      <h1 class="centerize">Sign up</h1>
      <% if @user.errors.any? %>
        <div id="error_explanation centerize">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model: @user, local: true) do |f| %>
        <div class="row">
          <%= f.label :name %>
          <%= f.text_field :name, class: "widthall" %>
        </div>
        <div class="row">
          <%= f.label :email %>
          <%= f.email_field :email, class: "widthall" %>
        </div>
        <div class="row">
          <%= f.label :password  %>
          <%= f.password_field :password, class: "widthall" %>
        </div>
        <div class="row">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "widthall" %>
        </div>
        <div class="row">
          <%= f.label :avatar, class: "col-md-3" %>
          <div class="col-md-9">※アバターはあとで編集できます。</div>
          <%= 
            f.file_field :avatar, id: :user_avatar, class: "col-md-8"
          %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class="row">
        <%= f.submit "Create my account", class: "btn-ym btn-ym-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>