<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Comment</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <% unless picture.image.file.nil? %>
          <%= image_tag picture.image_url %>
          <% end %>
        </td>
        <td><%= picture.comment %></td>
        <td>
          <%= link_to 'Show', picture %>
          <% if picture.user == current_user %>
            <%= link_to 'Edit', edit_picture_path(picture) %>
            <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
